npm-debug.log
node_modules
content/img
.DS_Store
.*.sw[op]
*.mp4
test/data.json
test/data-small.json
bundle.js
bundle.css
test/test.html
test/mocha.css
test/mocha.js
test/chai.js
templates/ios/vigour-native/vigour-native.xcodeproj/project.xcworkspace/xcuserdata/alexandervanderwerff.xcuserdatad/UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist

*.log

templates/android/app/.idea/
templates/android/plugincore/.idea/
local.properties
test-runner.html
tmp
templates/ios/vigour-native/vigour-native.xcodeproj/
templates/ios/vigour-native/Pods
templates/ios/vigour-native/Podfile.lock
templates/ios/vigour-native/vigour-native.xcworkspace/
native/ios/VigourCore/VigourCore.xcodeproj/xcuserdata/alexandervanderwerff.xcuserdatad/xcschemes/xcschememanagement.plist
