<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vigour-native.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4959BE1C1BF3DC1F00F7B310</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4959BE301BF3DC1F00F7B310</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4959BE3B1BF3DC1F00F7B310</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
