<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.samsung.com/">  
  <ThumbIcon>icons/icon_106.png</ThumbIcon>
  <BigThumbIcon>icons/icon_115.png</BigThumbIcon>
  <ListIcon>icons/icon_85.png</ListIcon>
  <BigListIcon>icons/icon_95.png</BigListIcon>
	
  <category>video</category>
  <autoUpdate>y</autoUpdate>
  <deleteJS>Uninstall</deleteJS>

  <cpname>Vigour Example</cpname>
  <runTitle>Vigour Example</runTitle>
	<cpauthjs/>
	<login>n</login>

  <ver>1.0.0</ver>
	<mgrver>2.250</mgrver>
	
	<fullwidget>y</fullwidget>
	<srcctl>y</srcctl>
	<ticker>n</ticker>
	<childlock>n</childlock>
	<audiomute>y</audiomute>
	<videomute>y</videomute>
	<dcont>y</dcont>
	<movie>y</movie>
	<mouse>y</mouse>

  <widgetname>Vigour Example</widgetname>
  <description>Samsung Build</description>

	<width>1280</width>
	<height>720</height>

	<author>
    <name>Vigour</name>
    <email></email>
    <link></link>
    <organization></organization>
	</author>
</widget>
