<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.samsung.com/">
  <ThumbIcon>/icons/ThumbIcon.png</ThumbIcon>
  <BigThumbIcon>/icons/BigThumbIcon.png</BigThumbIcon>
  <ListIcon>/icons/ListIcon.png</ListIcon>
  <BigListIcon>/icons/BigListIcon.png</BigListIcon>

  <category>video</category>
  <autoUpdate>y</autoUpdate>

  <cpname>{{companyProvider}}</cpname>
	<login>n</login>

  <ver>{{version}}</ver>
	<mgrver>2.250</mgrver>

	<fullwidget>y</fullwidget>
	<srcctl>y</srcctl>
	<ticker>n</ticker>
	<childlock>{{childLock}}</childlock>
	<audiomute>y</audiomute>
	<videomute>y</videomute>
	<dcont>y</dcont>
	<movie>y</movie>

  <widgetname>{{appName}}</widgetname>
  <description>{{description}}</description>

	<width>1280</width>
	<height>720</height>

	<author>
    <name>{{author.name}}</name>
    <email>{{author.mail}}</email>
    <link>{{author.url}}</link>
    <organization>{{organization}}</organization>
	</author>
</widget>
